<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.beet.alfred_noteplan_actions</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C5FD526-22A5-44DB-9C94-66665CE4CB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE3686D4-750F-45EA-87C7-053E69F86755</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>467968E3-37CE-4D02-A237-0FA82B846134</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F16FCDA-E554-405A-B2CD-55812DF85DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>565CEEFB-4C22-4E01-B1E4-721F43BC4276</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE6DBA4B-0837-4736-8502-FFD1DCEEC1A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F16FCDA-E554-405A-B2CD-55812DF85DF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF430BBF-1499-45A3-807C-D5679E3B11C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9737A391-0C8F-48BC-9D7F-9D804112585F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98AA0FEB-B8FB-4411-A2B9-35ECC369F092</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98AA0FEB-B8FB-4411-A2B9-35ECC369F092</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E574BFD8-2AA9-4FC4-8708-9C932079C9A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD9E31D7-F171-4174-B726-A44C2DAE83EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB82F64E-90B1-4F50-8A6A-F5AF6DBEEAF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D54E0D31-4AEA-4F75-BC66-86EB9C59E88E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F387E1CB-87F3-4944-A1D3-42385BD31CBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAC024F8-5725-4685-A81C-3126018F8FFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C5FD526-22A5-44DB-9C94-66665CE4CB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB82F64E-90B1-4F50-8A6A-F5AF6DBEEAF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>793F4654-386B-4CE2-B264-E21D3CF2C657</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F387E1CB-87F3-4944-A1D3-42385BD31CBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D429F71-F409-4444-BFD9-4FB61179F851</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mark Beattie</string>
	<key>description</key>
	<string>Handy extensions for working with NotePlan</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NotePlan Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0D429F71-F409-4444-BFD9-4FB61179F851</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./lib/note_plan"
require "./lib/alfred"

print Alfred::Actions::OpenNote.new(ARGV[0]).process</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F387E1CB-87F3-4944-A1D3-42385BD31CBC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "./lib/alfred"
require "./lib/note_plan"

print NotePlan::QuickOpen.new.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Quick note in NotePlan</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D54E0D31-4AEA-4F75-BC66-86EB9C59E88E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>q</string>
				<key>subtext</key>
				<string>Entered text will be appended to today's calendar note</string>
				<key>text</key>
				<string>Quick add</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9737A391-0C8F-48BC-9D7F-9D804112585F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./lib/alfred"
require "./lib/note_plan"

print Alfred::Actions::AddTodo.new(ARGV[0]).process</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>98AA0FEB-B8FB-4411-A2B9-35ECC369F092</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E574BFD8-2AA9-4FC4-8708-9C932079C9A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "./lib/alfred"
require "./lib/note_plan"

print NotePlan::WikiLinks.new.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Insert wiki link to current note</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BD9E31D7-F171-4174-B726-A44C2DAE83EC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0]

print "[[#{query}]]"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EB82F64E-90B1-4F50-8A6A-F5AF6DBEEAF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>793F4654-386B-4CE2-B264-E21D3CF2C657</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>hashtag</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>require "./lib/alfred"
require "./lib/note_plan"

print NotePlan::HashTags.new.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select a NotePlan hashtag</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>565CEEFB-4C22-4E01-B1E4-721F43BC4276</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BE6DBA4B-0837-4736-8502-FFD1DCEEC1A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./lib/note_plan"
require "./lib/alfred"

print Alfred::Actions::AddLinkNote.new(ARGV[0]).process</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F16FCDA-E554-405A-B2CD-55812DF85DF3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>link</string>
				<key>subtext</key>
				<string>Paste the URL of the link</string>
				<key>text</key>
				<string>Create a new link note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>467968E3-37CE-4D02-A237-0FA82B846134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AF430BBF-1499-45A3-807C-D5679E3B11C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE3686D4-750F-45EA-87C7-053E69F86755</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "./lib/note_plan"
require "./lib/alfred"

print Alfred::Actions::CreateJournalSummary.process</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0C5FD526-22A5-44DB-9C94-66665CE4CB1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Journal Summary</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DAC024F8-5725-4685-A81C-3126018F8FFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Handy extensions for interaction with NotePlan through Alfred.

Quickly jump straight to a text note, add a todo to today's calendar note, insert wiki links with heading fuzzy search, insert hashtags with fuzzy search, and more.

See https://github.com/beet/alfred_noteplan_actions for a deatailed readme.</string>
	<key>uidata</key>
	<dict>
		<key>0C5FD526-22A5-44DB-9C94-66665CE4CB1E</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>0D429F71-F409-4444-BFD9-4FB61179F851</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>467968E3-37CE-4D02-A237-0FA82B846134</key>
		<dict>
			<key>note</key>
			<string>Paste a URL, and a new text note will be created using the website's title for the heading with a link to the site and the #links hashtag.</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>565CEEFB-4C22-4E01-B1E4-721F43BC4276</key>
		<dict>
			<key>note</key>
			<string>Insert a hashtag from the existing hashtags in your text notes with fuzzy search</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>6F16FCDA-E554-405A-B2CD-55812DF85DF3</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>793F4654-386B-4CE2-B264-E21D3CF2C657</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>9737A391-0C8F-48BC-9D7F-9D804112585F</key>
		<dict>
			<key>note</key>
			<string>Quick capture of todos from anywhere. Will be appended to today's calendar note.</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>98AA0FEB-B8FB-4411-A2B9-35ECC369F092</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>AF430BBF-1499-45A3-807C-D5679E3B11C1</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>BD9E31D7-F171-4174-B726-A44C2DAE83EC</key>
		<dict>
			<key>note</key>
			<string>Insert a wiki link to any text note with fuzzy search by heading</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>BE6DBA4B-0837-4736-8502-FFD1DCEEC1A6</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>CE3686D4-750F-45EA-87C7-053E69F86755</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>D54E0D31-4AEA-4F75-BC66-86EB9C59E88E</key>
		<dict>
			<key>note</key>
			<string>Open any text note from anywhere by searching by heading</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>DAC024F8-5725-4685-A81C-3126018F8FFF</key>
		<dict>
			<key>note</key>
			<string>Produces a Markdown summary of journal entries extracted from NotePlan's calendar notes</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>E574BFD8-2AA9-4FC4-8708-9C932079C9A4</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>EB82F64E-90B1-4F50-8A6A-F5AF6DBEEAF1</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>F387E1CB-87F3-4944-A1D3-42385BD31CBC</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>journal_heading</key>
		<string>## Journal</string>
		<key>quick_add_mode</key>
		<string>prepend</string>
		<key>todo_string</key>
		<string>- [ ]</string>
		<key>base_directory</key>
		<string>/Library/Mobile Documents/iCloud~co~noteplan~NotePlan/Documents</string>
	</dict>
	<key>version</key>
	<string>0.6.0</string>
	<key>webaddress</key>
	<string>https://github.com/beet/alfred_noteplan_actions</string>
</dict>
</plist>
